
*{
    /* margin: 0; */
}

body{
    /* background-color: lightblue; */
}
div{
    background-color: lightblue;
}

h1 {
    color :rgb(47, 189, 45);
}
#tomato {
    color: tomato;
    /* border: 2px solid tomato; */
    background-color: rgb(209, 216, 195);
}
#dodgerBlue {
    color: dodgerblue;
    background-color: aliceblue;
    /* border: 2px solid dodgerblue; */
}
#mediumSeaGreen{
    color: mediumseagreen;
    /* border: 2px solid mediumseagreen; */
}