h1 {
    color :rgb(47, 189, 45);
}
#tomato {
    color: tomato;
    border: 2px solid tomato;
}
#dodgerBlue {
    color: dodgerblue;
    border: 2px solid dodgerblue;
}
#mediumSeaGreen{
    color: mediumseagreen;
    border: 2px solid mediumseagreen;
}